* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: #eee;
}

header {
    position: relative;
    height: 300px;
    border-bottom: 5px solid #eee;
}

main {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-around;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    font-size: 25px;
    margin-left: 550px;
}

h1 {
    font-size: 50px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 110px;
}

.number {
    color: black;
    background-color: #eee;
    width: 60px;
    font-size: 40px;
    text-align: center;
    padding: 7px 0;
    position: absolute;
    bottom: -30px;
    left: 50%;
}

.between {
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.again {
    font-size: 22px;
    padding: 5px 15px;
    margin: 10px; 
}

.guess {
    background: none;
    border: 4px solid #eee;
    color: inherit;
    font-size: 20px;
    width: 82px;
    padding: 7px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.btn {
    border: none;
    border-radius: 2px;
}

.btn:hover {
    background-color: #ccc;
}
.check {
    font-size: 20px;
    padding: 7px 9px;
}

.message {
    margin-bottom: 40px;
    height: 5px;
}

.title-score {
    margin-bottom: 5px;
    
}