@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1000px;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.35);
    position: relative;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    height: 100%;
    transition: all 0.75s;
}

.player-active {
    background-color: rgba(255, 255, 255, 0.4);
}

.name {
    color: #fff;
    font-size: 40px;
    margin-top: 50px;
}

.score {
    font-size: 60px;
    color: #bf2e34;
    text-align: center;
    width: 100%;
}

.current {
    background-color: #b84e52;
    padding: 2rem 4rem;
    border-radius: 20px;
}

.current-title {
    font-size: 25px;
    font-weight: 500;
    color: white;
}

.current-score {
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    color: white;
}

.images {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
}

.hidden {
    display: none;
}

.btn {
    border-radius: 30px;
    font-size: 20px;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #333;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 50%;
    box-shadow: 0 1.75rem 3.5rem rgb(0 0 0 / 10%);
    transform: translateX(-50%);
    cursor: pointer;
}

.btn-new {
    top: 60px;
}

.btn-roll {
    bottom: 162px;
}

.btn-hold {
    bottom: 67px;
}

.player-winner {
    background-color: #2f2f2f;
}